<!DOCTYPE html>
<html>
		<style>

.grow img{
transition: 0.4s ease;
left: 8px;
top: 8px;
position: absolute;
}

body{
	background-color: #F5F5F5;
}

#example1 {
    background-image: url("/img/umass2.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 0px;
}

/*ul#menu {
	float: right;
    padding: 0px;
    width: 85%;

}

ul#menu li {
    display: inline;
    width: 85%;

}

ul#menu li a {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
    width: 85%;
}

ul#menu li a:hover {
    background-color: yellow;
    color: black;
    width: 85%;

}*/
/*ul {
    list-style-type: none;
    margin: 1px;
    padding: 0px;
    overflow: hidden;
    border: 0px solid white;
    background-color: blue;
    color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 15px;
/*    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: yellow;
    color: black;
}

li a.active {
    color: white;
    background-color: #00008B;
}*/

ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

ul#menu li {
    float: right;
}

ul#menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#menu li a:hover {
    background-color: yellow;
    color: black;
}


/*
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;

}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}*/

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

</style>

<div id="example1">
		<meta charset="utf-8">
		<title>getInSPIREd</title>
		<!-- We are conditionally including test support if the showTests
         variables has been set. -->

		{{#if showTests}}
			<link rel="stylesheet" href="/vendor/mocha.css">
		{{/if}}

		<!-- We add the jQuery library because we will be using it
		     to manipulate HTML in the browser. -->
		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

	<header>
				<div class="grow">
		<a href="/">
		<img src="/img/logo.png" alt="Logo" style="float:left;width:133px;height:133px;clear:left;"> 
		</a>
		<h2 style="text-align:right"><span style="color:blue">getInSPIREd</span>: We help students make <i>major</i> changes to their academic career ;)</h2>
		</div>

<ul id="menu">

  {{#if user}}
  <li><a href="/user/logout">Logout</a></li>
  <li><a href="/admin">Admin</a></li>
  <li><a href="/professors"> Search Professors</a>
  <li><a href="/major">Major</a></li>
  <li><a href="/course/details">Course Details</a></li>
  <li><a href="/courses">Courses</a></li>
  <li><a href="/user/profile">Profile</a></li>
  <li><a href="/professors"> Professor Ratings</a><br>
  {{else}}
  <li><a href="/team">Team</a></li>
  <li><a href="/user/login">Login</a></li>
  {{/if}}
  <li><a href="/about">About</a></li>
  <li><a href="/">Home</a></li>
</ul>  


						</div>
	</header>



	<body>

		{{{body}}}

		{{#if showTests}}
			<div id="mocha"></div>
			<script src="/vendor/mocha.js"></script>
			<script src="/vendor/chai.js"></script>
			<script>
				mocha.ui('tdd');
				var assert = chai.assert;
			</script>

			<script src="/qa/tests-global.js"></script>
			{{#if pageTestScript}}
				<script src="{{pageTestScript}}"></script>
			{{/if}}
			<script>mocha.run();</script>
		{{/if}}
	</body>
	<hr>
	<footer>               
		

	<div id="footer">
  		<p class="alignleft">&copy; 2015</p>
  		<p class="alignright">Confused? Need help? Have feedback?
		<a href="mailto:tcontois@umass.edu?Subject=You%20up?" target="_top">
			Email us.</a></p>
	</div>
	<div style="clear: both;"></div>


	</footer>
</html>
