<!DOCTYPE html>
<html>
	<head>
		<style>

.grow img{
transition: 0.4s ease;
}
.grow img:hover{
-webkit-transform: scale(1.4);
-ms-transform: scale(1.4);
transform: scale(1.4);
transition: 0.5s ease;
}


ul#menu {
	float: right;
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: yellow;
    color: black;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;

}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}




</style>
		<meta charset="utf-8">
		<title>getInSPIREd</title>
		<!-- We are conditionally including test support if the showTests
         variables has been set. -->



		{{#if showTests}}
			<link rel="stylesheet" href="/vendor/mocha.css">
		{{/if}}

		<!-- We add the jQuery library because we will be using it
		     to manipulate HTML in the browser. -->
		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	</head>
	<header>
		<div class="grow">
		<a href="/">
		<img src="/img/logo.png" alt="Logo" style="float:left;width:110px;height:110px;"> 
		</a>


		<h2 style="text-align:right"><span style="color:blue">getInSPIREd</span>: We help students make <i>major</i> changes to their academic career ;)</h2>
<ul style="align:right" id="menu">
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/team">Team</a></li>
  <li><a href="/user/login">Login</a></li>
  <li><a href="/user/profile">Profile</a></li>
  <li><a href="/courses">Courses</a></li>
  <li><a href="/course_details">Course Details</a></li>
  <li><a href="/major">Major</a></li>
  <li><a href="/admin">Admin</a></li>
  <li><a href="/user/logout">Logout</a></li>
</ul>  

		</div>
	</header>
<br>
<br>
<br>
	<body>
					<hr>
		{{{body}}}

		{{#if showTests}}
			<div id="mocha"></div>
			<script src="/vendor/mocha.js"></script>
			<script src="/vendor/chai.js"></script>
			<script>
				mocha.ui('tdd');
				var assert = chai.assert;
			</script>

			<script src="/qa/tests-global.js"></script>
			{{#if pageTestScript}}
				<script src="{{pageTestScript}}"></script>
			{{/if}}
			<script>mocha.run();</script>
		{{/if}}
	</body>

	<hr>
	<footer>
		<p style="text-align:right">                
<!-- 		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/team">Team</a>
		<a href="/user/login">Login</a>
		<a href="/user/profile">Profile</a>
		<a href="/courses">Courses</a>
		<a href="/course_details">Course Details</a>
		<a href="/major">Major</a>
		<a href="/admin">Admin</a>
		<a href="/user/logout">Logout</a> -->
		Confused? Need help? Have feedback?
<a href="mailto:tcontois@umass.edu?Subject=You%20up?" target="_top">
Email us.</a>
		<p>
<p>

</p>

	</footer>
</html>
