<h1>Admin View</h1>
<div>{{message}}</div>

<h2>Users</h2>
<form action="/admin/users">
  <button>Add/Remove Users</button>
</form>

<h3>UMass Courses</h3>
<form action="/admin/courses">
	<button>Add/Remove Courses</button>
</form>

<h4>Major Requirements</h4>
<form action="/admin/requirements">
	<button>Add/Remove Requirements</button>
</form>