<h1>Courses</h1>
<table>
  <tr>
    <td>
      Department:
    </td>
    <td>
      Number:
    </td>
  </tr>
  {{#each courses}}
    <tr>
      <td>
        {{dept}}
      </td>
      <td>
        {{num}}
      </td>
    </tr>
  {{/each}}
</table>

<h4>Add Course</h4>
<form method="post" action="/courses/add">
  Department: <input type="text" name="dept"> <br>
  Number:  <input type="text" name="num"> <br>
  <button>Add Course</button>
</form>

<p>  
  <label>Major:</label>
  <select name="config[mode]">    
    <option value=""></option>
    <option value="Math">Math</option>
    <option value="Computer Science" selected="selected">Computer Science</option>    
  </select>
</p>  
<p>  
  <label>Class Number:</label>
  <select name="config[pair]">      
    <option value=""></option>      
    <option value="ltc_btc" selected="selected">121</option>
    <option value="nmc_btc">187</option>
    <option value="nmc_btc">220</option>
    <option value="nmc_btc">230</option>
    <option value="nmc_btc">240</option>
    <option value="nmc_btc">250</option>
  </select>
</p>  
