<h1>Course Details</h1>

<form method="post" action="/admin/user">
  Select Course:
    <select name="Select Course">
      <option value="CS 121">Yes</option>
      <option value="CS 187">No</option>
    </select>
    <br>
  <button>Add User</button>
</form>


<img src="/img/explore_courses_view.png" />

