<h1>Welcome to getInSPIREd</h1>

<img src="/img/home_view.png" />

<p>
<html>
<a href="/about">About</a>
</html>

<html>
<a href="/team">Team</a>
</html>

<html>
<a href="/login">Login</a>
</html>

</p>