<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<img src="/img/schoolrocks_1.gif" alt="Computer man" style="float:right;width:250px;height:250px;">
<div>{{message}}</div><br>



<form method="post" action="/user/auth">
  User Name: <input type="text" name="name"> <br>
  Password:  <input type="password" name="pass"> <br>
  <button>Login</button>
</form>



<br><div>Don't have an account?</div>

<form method="post" action="/user/new">
  <button>Create Account</button>
</form><br>