<!DOCTYPE html>
<html>
<style>
.brighten img {
  -webkit-filter: brightness(-5%);
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.brighten img:hover {
  -webkit-filter: brightness(100%);
}
</style>
<div align="center">
  <h1>{{title}}</h1>
  <br>
  <p>Enter your credentials</p>
  <div>{{message}}</div><br>



  <form method="post" action="/user/auth">
    User Name: <input type="text" name="name"> <br>
    <br>
    Password:  <input type="password" name="pass"> <br>
    <br>
    <button>Login</button>
  </form>
  <br>




  <br><div>Don't have an account?</div>

  <form method="get" action="/user/new">
    <button>Create Account</button>
  </form><br>
</div>
</html>