<h1>Major</h1>

<form method="post" action="/major/select">
<p>  
  <label>Major:</label>
  <select name="major">    
    <option value=""></option>
    <option value="CS">Computer Science</option>    
    <option value="MATH">Mathematics</option>    
  </select>
  <button> Choose </button>
</p> 
<div> Selected Major : {{major}} </div>

<table>
  <tr>
    <td>
      Department:
    </td>
    <td>
      Number:
    </td>
  </tr>
  {{#each courses}}
    <tr>
      <td>
        {{dept}}
      </td>
      <td>
        {{num}}
      </td>
    </tr>
  {{/each}}
</table>


