<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<h2> Professor Search Engine </h2>
	<p> 
		This tool can be helpful when trying to decide which courses you want to take in the future. Enter a UMass professors name and the professors ratemyprofessor.com rating will be displayed. 
	</p>

	<form>
  		<label>Professor Name:</label>
    	<input type="text" name="name"> 
  		<button>Search</button>
	</form>

</body>
</html>