<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<br>
	<h2 style='text-align:center'> Professor Search Engine </h2>
	<p style='text-align:center'> 
		This tool can be helpful when trying to decide which courses you want to take in the future. Enter a UMass professor's name and the professor's ratemyprofessor.com rating will be displayed.
		Note: Please capitalize the first letter of each name 
		<br>
		<br>
	</p>

	<form method="post" id="profSearch" align="center" action="/professors/helper">
  		<label>First Name:</label>
    	<input name="first" id="first_search" type="text" > 
    	<br>
    	<label>Last Name:</label>
    	<input name="last" id="last_search" type="text" > 
    	<br>
    	<br>
    	<button> Select </button>
	</form>
	<br>
	
	<div align="center">
		Prof Name = {{prof.first}} {{prof.last}}
		Prof Rating = {{prof.rating}}
		Number of Review = {{prof.num}}

	</div>
	

</body>
</html>







